/* 
===============
CSS properties
===============
*/

:root {
    --dark-cyan-color: hsl(185, 75%, 39%);
    --dark-desatured-blue-color: hsl(229, 23%, 23%);
    --dark-grayish-blue-color: hsl(227, 10%, 46%);
    --light-gray-color: hsl(228, 9%, 92%);
    --dark-gray-color: hsl(0, 0%, 59%);
    --white-color: hsl(0, 0%, 100%);
    --shadow-color: hsla(197, 84%, 20%, 0.5);

    --font-size-18px: calc(18rem / 16);
    --font-size-14px: calc(14rem / 16);
    --font-size-10px: calc(10rem / 16);

    --card-image-height: calc(140em / 16);
    --card-bio-height: calc(145em / 16);
    --card-stats-height: calc(89em / 16);
    --card-width: calc(326em / 16);
    
    --card-height: calc(
        var(--card-backgrond-height) + 
        var(--card-bio-height) + 
        var(--card-stats-height)
    );

    --card-border-radius: 15px;
    --image-border-radius: 96px;
}


/* 
============================
Typography + Centered Body
============================
*/

body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: top -10% left -12.5em / 120%  url("../../assets/bg-pattern-top.svg") no-repeat,
                bottom -9.375em left 12.5em / 120% url("../../assets/bg-pattern-bottom.svg") no-repeat;
    background-color: var(--dark-cyan-color);

    @media (min-width: 90em) {
        & {
            background-position: top -25em left -8em, 
                bottom -25em right -8em;
            background-size: 55%, 55%;
        }
    }
}

h1, h2, h3 {
    font-size: var(--font-size-18px);
    font-weight: 700;
    line-height: normal;

    & span {
        margin: 0 0 0 0.3em;
        color: var(--dark-grayish-blue-color);
        font-weight: 400;
    }
}

p {
    font-size: var(--font-size-14px);
    color: var(--dark-grayish-blue-color);
    line-height: normal;
    font-weight: 400;
}

.card__stat p {
    margin: 0.5625em 0 0 0;
    font-size: var(--font-size-10px);
    letter-spacing: 1.5px;
}

/* 
===========
Layout
=========== 
*/
.card {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    width: var(--card-width);
    height: var(--card-height);
    background: var(--white-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0px 50px 100px -20px var(--shadow-color);
}

.card__image {
    min-width: 0;
    min-height: 0;
    object-fit: cover;
    flex-basis: var(--card-image-height);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card__intro {
    flex-basis: var(--card-bio-height);
    
    & .card__avatar {
        position: absolute;
        top: 86;
        left: calc(var(--card-width) / 3);
        
        & img {
            border: 5px solid var(--white-color);
            border-radius: var(--image-border-radius);
        }
    }

    & .card__bio {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        gap: 0.5em;
        padding: 0 0 1.6875em 0;
    }
}

.card__stats {
    border-top: 1px solid var(--light-gray-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1.5em 3.25em 1.5em 2.65em;

    & > * {
        text-align: center;
    }
}